version: '3'

services:
  front:
    build:
      context: ./front_end
      dockerfile: Dockerfile
    image: html
    container_name: fron_logs
    ports:
      - "80:80"
    volumes:
      - ./front_end/src:/usr/share/nginx/html
  back:
    build:
      context: ./back_end_GO
      dockerfile: Dockerfile
    container_name: back_logs
    restart: unless-stopped
    ports:
      - "5000:5000"