body {
  background-color: #171717;
  color: #e8eaed;
}

.fundo {
  background-color:  #202124;
  border-radius: 10px;
  height: 100vh;
}

.logs {
  background-color: #171717;
  margin: 10px;
  border-radius: 7px;
}

.info {
  background-color: #171717;
  margin: 10px;
  border-radius: 7px;
  display: none;
}

.vazio {
  display: flex;
  background-color: #171717;
  margin: 10px;
  border-radius: 7px;
}

.onOff {
  border-bottom: 1px solid #3c4043;
  padding: 10px;
}

.col-onOff {
  width: 85px;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  width: 74px;
  height: 36px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  border: 2px solid #0d6efd;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
  content: "ON";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 30px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 0;
  padding: 14px 4px;
  background-color: #0d6efd;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "OFF";
  left: 40px;
  background-color: #dc3545;
}

#button-1 .checkbox:checked ~ .layer {
  border: 2px solid #dc3545;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}


.menu {
  border-bottom: 1px solid #3c4043; 
  margin-bottom: 20px;
  height: 60px;
}


.list-logs {
  overflow: auto;
  height: 80vh;
  margin-right: 1px;
}

.log {
  border: solid 2px #3c4043;
  margin-bottom: 10px;
  border-radius: 7px;
  height: 50px;
  cursor: pointer;
  margin-left: 3px;
}

.nav-tab-body {
  overflow: auto;
  max-height: 84vh;
  margin-top: 5px;
}

.log_format {
  overflow: auto;
  width: 99.5%;
  color: #FFC200;
  background-color: #171717;
  border: 2px solid #3c4043;
  border-radius: 5px;
  padding: 10px;
  resize: none;
}



::-webkit-scrollbar {
  width: 5px;
  /* visibility: hidden; */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
  /* visibility: hidden; */
}

::-webkit-scrollbar-thumb {
  background: #dc3545; 
  /* visibility: hidden; */
}

::-webkit-scrollbar-thumb:hover {
  background: #dc3545;
  /* visibility: hidden; */
}
